Your password was changed

{% if name %}Hi {{ name }},{% endif %} this is a confirmation that your ClearFrame account password was just changed. All other devices have been signed out.
If you didn't make this change, reset your password immediately and contact support.
