Welcome to ClearFrame{% if name %}, {{ name }}{% endif %}!

Thanks for signing up. Confirm your email address to start uploading and processing videos:

{{ verify_url }}

If you didn't create this account, you can safely ignore this email.
